*{
    padding: 0%;
    margin: 0%;
}

.header{
    background-color: black;

    &__nav{
        display: flex;
        align-items: center;

        &__titulo{
            font-size: x-large;
            color: gold;
        }

        &__lista{
            width: 70%;
            display: flex;
            justify-content: center;
            
            &__item{
                list-style: none;
                padding: 2%;
                color:  gold;
        }
    }
}
}
main{
    background: rgb(20,188,238);
background: linear-gradient(0deg, rgba(20,188,238,1) 26%, rgba(132,6,148,1) 43%, rgba(171,4,112,1) 66%, rgba(0,212,255,1) 100%);
}
.imagenes{
    display: flex;
    flex-direction: column;

    &__tema{
    
        color: violet;
       &__contenedor{
         display: flex;
         width: 100%;
            &__card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 margin: 1%;
                 width:90% ;
                    &__img{
                        width: 100%;
                        margin: 1% ;
                        &__boton{
                            width: 100%;
                            background-color: rgb(109, 175, 230);
                            width: 100%;
                            border: none;
                      
                        }
                     }
             }
        }
    }

}  
.cont {
    display: flex;
    width: 100%;
    &__caja{
       width: 25%;
      margin: 1%;

    &__img{
        width: 100%;
        &__num{
            color: black(190, 33, 156);
            &__text{
                color: white;
                text-align: justify;
                &__btn{
                    background-color: rgb(17, 114, 194);
                    width: 100%;
                    border: none;
                }
            }
        }
        
    }

  } 
}
.color{
    color: black;
    text-align: justify;
   font-size: 1.5rem;
}
section h1 {
    text-align: center;
}

.input {
    width: 100%;
    margin-bottom: 3px;
}
.input1{
    height: 200px;
    width: 100%;
}

.boton {
    margin-top: 10px;
}