*{
    padding: 0%;
    margin: 0%;
}

.header{
    background-color: aqua;

    &__nav{
        display: flex;
        align-items: center;

        &__titulo{
            font-size: x-large;
            color: gold;
        }

        &__lista{
            width: 70%;
            display: flex;
            justify-content: center;
            
            &__item{
                list-style: none;
                padding: 2%;
                color: green;
        }
    }
}
}

.imagenes{
    display: flex;
    flex-direction: column;

    &__tema{
    
        color: violet;
       &__contenedor{
         display: flex;
         width: 100%;
            &__card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 margin: 1%;
                 width:90% ;
                    &__img{
                        width: 100%;
                        margin: 1% ;
                        &__boton{
                            width: 100%;
                            background-color: rgb(109, 175, 230);
                            width: 100%;
                            border: none;
                      
                        }
                     }
             }
        }
    }

}  
.cont {
    display: flex;
    width: 100%;
    &__caja{
       width: 25%;
      margin: 1%;

    &__img{
        width: 100%;
        &__num{
            color: rgb(190, 33, 156);
            &__text{
                color: purple;
                text-align: justify;
                &__btn{
                    background-color: rgb(17, 114, 194);
                    width: 100%;
                    border: none;
                }
            }
        }
        
    }

  } 
}
.color{
    color:purple;
    text-align: justify;
   font-size: 1.5rem;
}



